

# But keep the .devcontainer folder inside each one
!/Haystack-Fast-API/.devcontainer/
!/Haystack-Fast-API/.devcontainer/**
!/Heavy-Rental-REST-API/.devcontainer/
!/Heavy-Rental-REST-API/.devcontainer/**
!/Heavy-Rental-Web-Portal/.devcontainer/
!/Heavy-Rental-Web-Portal/.devcontainer/**
